@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;

  color: #fff;
  background-color: #222127;

}


